html
  head
    title 集合点
    link(rel="stylesheet",href='/css/style.css')
    script(src="https://cdn.bootcdn.net/ajax/libs/jquery/3.5.1/jquery.min.js")
    script(src='/js/main.js')
  body
    h1 腾云3楼餐厅集合点
    h2 请在黄色区域点击确认当前位置
    div(id="main")
        img(id="img_bg",src="images/canteen.png")
        img(id="img_table",style="left:10%;top:10%",src="images/table.png")
        button(id="confirm_btn") 通知 
